.bidInfo{
    position: absolute;
    display: flex;
    align-items:center ;
    height: fit-content;
    width: max-content;
    padding: 1.3rem;
    background: linear-gradient(91.03deg, rgba(255, 254, 254, 0.23) -47.11%, rgba(255, 254, 254, 0.23) 110.32%);
    border-radius: 5px;
    bottom: 4rem;
    margin-left: -50%;
}
.current{
    padding-right: 5rem;
}
.time{
    padding-right: 2rem;
}
.current_name, .time_info{
    margin-bottom: 0.6rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 141.69%;
    color:  rgba(255, 255, 255, 0.7);
}
.current_value, .countdown{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 141.69%;
}
.bidInfo .btn{
    border: 1px solid white;
}
.bidInfo .btn:hover{
    color: white;
}
@media screen and (max-width:1100px){
    .bidInfo{
        margin-left: -40%;
    }
    .current{
        padding-right: 3.5rem;
    }
    .time{
        padding-right: 1.6rem;
    }
    .current_name, .time_info{
        font-size: 1.5rem;
    }
    .current_value, .countdown{
        font-size: 1.5rem;
    }
}
    @media screen and (max-width:950px) {
        .bidInfo{
            margin-left: -30%;
        }
    }
    @media screen and (max-width:800px) {
        .bidInfo{
            margin-left: 10%;
        }
    }
    @media screen and (max-width:500px) {
        .bidInfo{
            margin-left: -5%;
            padding: 0.8rem;
        }
        .current{
            padding-right: 1.5rem;
        }
        .time{
            padding-right: 0.8rem;
        }
        .current_name, .time_info{
            font-size: 1.4rem;
        }
        .current_value, .countdown{
            font-size: 1.3rem;
        }
    }
    @media screen and (max-width:400px) {
        .bidInfo{
            margin-left: -5%;
        }
        .current{
            padding-right: 1rem;
        }
        .time{
            padding-right: 0.6rem;
        }
        .current_name, .time_info{
            font-size: 1.3rem;
        }
        .current_value, .countdown{
            font-size: 1.2rem;
        }
    }