:root{
    --color-black: #10061E;
    --color-white: #fff;
    --color-pry1: rgba(252, 71, 84, 0.9);
    --color-pry2: rgba(252, 71, 84, 0.55);
    --color-pry-light:rgba(252, 71, 84, 0.1);
  }
header.nav{
    display: flex;
    width: 100%;
    padding: 3.8rem 6.2rem;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-right: auto;
    font-size: 2.3rem;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    display: inline-block;
    font-size: 1.6rem;
    padding-right: 5.4rem;
}
.navLinks{
    display: flex;
    align-items: center;
}

@media screen and (max-width:950px) {
    header.nav{
        padding: 2.4rem 4rem;
    }
    .nav ul li{
        padding-right: 3rem;
    }
}
@media screen and (max-width:800px) {
    header.nav{
        display: block;
        position: fixed;
        z-index: 10;
        padding: 0;
    }
    .mobile-nav{
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;
    }
    .menu span{
        display: block;
        width: 2.8rem;
        height: 0.5rem;
        background: radial-gradient( white, var(--color-pry1));
        border-radius: 10px;
        transition: all 300ms ease;
    }
    .menu>span:not(:last-child){
        margin-bottom: 0.3rem;
    }
    .menu.close>span:nth-child(1){
        transform: rotate(-45deg);
    }
    .menu.close>span:nth-child(2){
        height: 0;
        transform: rotate(180deg);
        opacity: 0;
    }
    .menu.close>span:nth-child(3){
        transform: rotate(45deg);
        margin-top: -0.75rem;
    }
    .navBg{
        background: linear-gradient(135deg, rgba(255,255,255,0.02), rgba(255,255,255,0));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        border: 1px solid rgba(252, 71, 84, 0.1);
    }
    .navLinks{
        display: block;
        width: 100%;
        z-index: 12;
        text-align: center;
        padding: 5rem;
        /*background-color: #10061E;*/
        background: linear-gradient(135deg, rgba(255,255,255,0.05), rgba(255,255,255,0));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        border: 1px solid rgba(252, 71, 84, 0.1);
    }
    .navLinks ul li{
        display: block;
        padding-top: 3rem;
        padding-right: 0;
    }
    .navLinks .btn{
        margin: 2rem auto;
    }
    .hide{
        transition: all 300ms ease;
        visibility: hidden;
        margin-top: -120%;
    }
    .visible{
        transition: all 300ms ease;
        visibility: visible;
        position: relative;
        overflow-x: hidden;
    }
    
    .container{
        padding-top: 10rem;
    }
 
}