.nftDescription{
    position: relative;
    width: 100%;
    height: fit-content;
    padding-right: 2.5rem;
}
.nftDescription .description__head{
    font-size: 5rem;
    line-height: 5.9rem;
    font-weight: 700;
}
.description__text{
    padding: 1.5rem 0 2.9rem 0;
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-weight: 500;
    padding-right: 12rem;
}
.description__nav_buttons{
    display: flex;
}
.description__nav_buttons .btn_fillpry{
    margin-right: 2.5rem;
}

@media screen and (max-width:1075px){
    .nftDescription .description__head{
        font-size:4.2rem;
        line-height: 5rem;
    }
    .description__text{
        font-size: 1.6rem;
        line-height: 2.3rem;
        padding-right: 10rem;
    }
  }
@media screen and (max-width:930px) {
    .nftDescription .description__head{
        font-size:3.8rem;
        line-height: 4.6rem;
        padding-right: 6rem;
    }
}
@media screen and (max-width:600px) {
    .nftDescription{
        padding-right: 1rem;
    }
    .description__text{
        padding-right: 3rem;
    }
}
@media screen and (max-width:450px) {
    .nftDescription{
        padding-right: 0;
    }
    .nftDescription .description__head{
        font-size:3.4rem;
        line-height: 4.2rem;
    }
    .description__text{
        font-size: 1.5rem;
        line-height: 2.1rem;
        padding-right: 2rem;
    }
    .description__nav_buttons .btn_fillpry{
        margin-right: 2rem;
    }
}